$margin: 15px;

body {
    overflow-x: hidden;
    background-color: #F3F3F3;
    margin: 0;

    font-family: 'Roboto', sans-serif;

  .navbar {

    background-color: #ffffff;

    width: 100%;
    height: 67px;

    display: flex;

    justify-content: center;

    border: 1px solid #e8e8e8;

    position: sticky;
    top: 0;

    align-items: center;

    color: #6f6f6f;

    input {
      width: 300px;
      height: 35px;
    }

    img {
      width: 60px;

      margin-right: $margin;
    }

    .navigation {
      max-width: 1070px;

      display: none;

      justify-content: center;

      align-items: center;

      a {
        margin: $margin;
        font-size: 18px;
        color: #6f6f6f;
        text-decoration: none;
      }
    }

    .session {
      display: flex;
      align-items: center;

      justify-content: center;

      button {
        margin: $margin;height: 33px;
        border: none;
        width: 73px;

        &.sign-up{
          background-color: #cc4d29;
          color: white;
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    

    width: 1080px;
    margin: auto;
    margin-bottom: 40px;

    .main{
      width: 100%;
      .content {

        width: 100%;
      
        .app {
          height: 120px;
          display: flex;
          background-color: white;
          padding-left: 20px;
          border-bottom: solid 1px #e8e8e8;
          align-items: center;

          .app-logo {
            width: 80px;
            img{
              width: 80px;
            }
          }
  
          .app-description-comments {
  
            margin-left: 13px;
  
            img {
              display: inline;
            }
  
            h3 {
              margin-bottom: 3px;
              margin-top: 3px;
            }
  
            p {
              margin-top: 3px;
              word-wrap: break-word;
            }
  
            .tag {
              display: inline;
            }
            
          }
  
          &.first {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
  
          &.last {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }
  
      }
    }

    .aside{
      margin-left: 20px;
      width: 330px;
      display: none;
      .bot {
        background-color: white;
        border-radius: 10px;

        p{
          margin-top: 5px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: lighter;
        }

        h4 {
          margin-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 10px;
        }

        .red {
          background-color: #D6573E;
          border: none;
          padding: 5px 8px;
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          margin-left: 10px;
          color: white;
          font-weight: bolder;
        }
      }

      .live-chat{
        background-color: white;
        border-radius: 10px;

        h4{
          border-bottom: 1px solid #e8e8e8;
          padding: 20px;
        }
        .contact{
          display: flex;
          align-items: center;

          padding-bottom: 20px;
          padding-left: 20px;

          img{
            width: 50px;
            border-radius: 50%;
          }

          .contact-info{
            margin-left: 10px;

            .name{
              margin-bottom: 5px;
            }
            .contact-position{
              margin-top: 5px;
              margin-bottom: 3px;
            }
            .remin-me{
              margin-top: 0px;
            }
          }
        }
      }

    }
    

  }

}

@media only screen and (min-width: 1100px) {

  body{
    .navbar{
      .navigation{
        display: flex;
      }
    }
    .container{
      .main{
        width: 720px;
      }
      .aside{
        display: block;
      }
    }
  }
  
}
